html {
	margin: 0;
	padding: 0;
}
body { 
  font-family: 'Open Sans',sans-serif;
  font-size: 1em;
  line-height: 1.6;
  margin: 0; 
  padding: 0;
  font-feature-settings: "kern", "liga";
  -moz-font-feature-settings: "kern", "liga";
  -moz-font-feature-settings: "kern=1", "liga=1";
  -ms-font-feature-settings: "kern", "liga";
  -o-font-feature-settings: "kern", "liga";
  -webkit-font-feature-settings: "kern", "liga";
}

p { 
  margin: 0;
}

p + p {
  text-indent: 1.5em;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Fira Sans',sans-serif;
  font-weight: 100;
}

h1 {
  font-size: 3.157em;
  line-height: 1.1;
  font-weight: 100;
}

h2 {
  font-size: 2.369em;
  line-height: 1.15;
  margin: 0 0 .54em;
  font-weight: 100;
}

h3 { 
  font-size: 1.777em;
  line-height: 1.2;
  margin: .9em 0 .62em;
  font-weight: 100;
}
h4{
  font-size: 1.4em;
  line-height: 1.3;
  margin: .9em 0 .62em; 
}
ul {
  margin: 0;
}

li {
  margin: 0;
}

a:link { 
  text-decoration: none;
  transition: all 0.2s ease;

}
a:visited { 
  text-decoration: none; 
}

a:hover, a:focus, a:active { 
  text-decoration: none; 
}
.hero-image{
    background-color:#2C3E50;
    color:#fff;
    padding-top:.5em;
    height:30em;
}
.hero-image nav{
    float:right;
    margin-top:30px; 
}
.hero-image ul{
    list-style:none;
}
.hero-image li{
    display:inline-block;
    margin-left:30px;
}
.hero-image ul li a{
    opacity:.8;
}
.hero-image a, .hero-image a:visited{
    color:#fff; 
}
.hero-image a:hover{
    opacity: 1;
}
.slogan{
    text-align:center;
    padding:5em 0 5em 0;
}
.site-title{
    font-size:1.44em;
    float:left;
    margin-top:20px;
}
.hero-sec{
    max-width:960px;
    margin:0 auto;
    padding:0 2em;
}
.slogan{
    padding:0.2em 0.5em;
    max-width:850px;
    margin:0 auto;
    clear:both;
}
.slogan h1{
    padding-top:1em;
    padding-bottom:.9em;
    line-height:1.4;
    font-weight:100;
    font-size: 3.3em;
}
.slogan a{
    margin-right:1em;
}
.sherbimet{
    max-width:960px;
    margin:0 auto;
    padding: 3em 5em;
    text-align: center;
}
.item-sherbim{
    max-width:240px;
    text-align: center;
    flex-grow:1;
    margin:0 .5em;
}
.item-sherbim h3{
    font-weight: 100;
}
.item-sherbim p{
    font-size: .9em;
}
.rreshti{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: space-around;
    -webkit-justify-content: space-around;
    margin-top:60px;
}
.item-sherbim p{
    color:#7D7D7D;
}
.gjitha{
    padding:.5em .7em;
    background-color:transparent;
    border:2px solid #ECF0F1;
    border-radius: 3px;
    color: #ecf0f1;
    text-transform: uppercase;
}
.gjitha:hover{
    border-color:#2C3E50;
    color:#2C3E50;
}
.shiko-gjitha{
      margin-top: 4em;
}
.artikuj-wrap{
    background-color:#ECF0F1;
}
.artikujt{
    max-width:960px;
    margin:0 auto;
    padding: 3em 5em;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: space-around;
    -webkit-justify-content: space-around;
}
.artikujt article{
    width:330px;
}
.artikujt img{
    width:100%;
    margin-bottom:.5em;
}
.artikujt a{
    font-size: 1.6em;
    line-height: 1.4;
    color:#2C3E50;
}
.artikujt p{
    color:#7d7d7d;
    margin: .9em 0 .62em;
}
a.kuote{
    background-color:#fff;
    border:2px solid #fff;
    border-radius:5px;
    padding:.7em 1em;
    color:#2C3E50 !important;
    text-transform: uppercase;
}
a.kuote:hover{
    opacity:.96;
}
a.info{
    background-color:transparent;
    border:2px solid #fff;
    border-radius:5px;
    padding:.7em 1em;
    opacity: .8;
}
a.info:hover{
    background-color: #fff;
    color:#2c3e50;
}
.rreth-sherb{
    max-width:960px;
    margin:0 auto;
    padding-bottom:4em;
}
.item-sherb{
    width:260px;
}
.item-sherb p{
    color:#7f7f7f;
}
.item-sherb svg{
    height:1.4em;
    width:1.4em;
    display:inline-block;
    float:left;
    margin: .9em 1em .62em 0;
    padding: .9em 0 .62em;
}
.item-sherb div{
    display:inline-block;
    width:220px;
}
/* Kerko Kuote */
.kerko-kuote{
    max-width: 960px;
    margin:0 auto;
    padding:5em .5em;
    color:#fff;
}
.kerko-kuote *{
    display:inline-block;
}
.kerko-kuote a{
    background: transparent;
    border-radius: 5px;
    padding:.5em 1em;
    border:2px solid #fff;
    color:#fff;
    margin-left:3em;
    font-size: 1.3em;
    text-transform:uppercase;
}
.kerko-kuote a:hover{
    background: #fff;
    color:#7d7d7d;
}
/* Footer Styling */
.footer-bot, .footer-top{
    padding:1em .3em;
}
.footer-top{
    max-width: 960px;
    margin:0 auto;
    padding:5em;
    display:flex;
    justify-content: space-around;
    -webkit-justify-content: space-around;
}
.footer-bot{
    background-color:#ECF0F1;
    color:#7f7f7f;
}
.footer-bot svg{
    margin-right:30px;
}
.footer-bot p{
    float:right;
}
.footer-bot svg{
    float:left;
}
.footer-bot:after{
    visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.footer-bot div, .footer-top{
    max-width:960px;
    margin:0 auto;
}
.footer-top div{
    display: inline-block;
    margin-right:2em;
}
.footer-top section{
    max-width:350px;
}
.buletini{
    width: 330px;
}
.buletini input{
    font-size: 1em;
    line-height: 1.5;
    border-radius:3px;
}
.buletini-text{
    width:14em;
    background: #FFFFFF;
    border: 1px solid #BDC3C7;
    padding:.3em .4em;
}
.buletini-text:focus, .buletini-dergo:focus{
    outline:none;
    border:1px solid #2C3E50;
}
.buletini-dergo{
    width:15em;
    margin-top:.5em;
    background-color:#2C3E50;
    color:#fff;
    border:1px solid #2C3E50;
    padding:.3em 0;
}
.buletini-dergo:hover{
    background-color: #33495C; 
}




/* Media Queries */

@media(max-width:768px){
    body{
        font-size:.8em;
    }
    .navigation{
        display:none;
    }
}