html {font-size: 1.25em;}

body {
  background-color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.45;
  color: #333;
}

p {margin-bottom: 1.3em;}

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 2.441em;
}

h2 {font-size: 1.953em;}

h3 {font-size: 1.563em;}

h4 {font-size: 1.25em;}

small, .font_small {font-size: 0.8em;}
body{
    background-color: #f9f9f9;
    padding:0;
    margin:0;
}
.main-wrapper{
    max-width:960px;
    margin:0 auto;
}
header img{
    float:left;
    height:50px;
}
header ul{
    float:right;
}
header li{
    display:inline-block;
    margin-right:20px;
}
header ul li a{
    text-decoration: none;
    color:#fff;
}
.hero-img{
    height:600px;
    background-image:url('https://snap-photos.s3.amazonaws.com/img-thumbs/960w/URN0FR2V1P.jpg');
    position: absolute;
    top:0;
    z-index: -1;
    width:960px;
}
.hero-img section{
    width:800px;
    margin:0 auto;
    text-align: center;
    display: block;
    position:relative; 
    top:20%;
}
.clear{
    clear:both;
}
.hero-title{
    font-family: 'Oswald', sans-serif;
    font-size:4.441em;
    color:#fff;
}
